{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-parens": "off",
    "indent": ["warn", 4],
    "require-jsdoc": "off",
    "no-trailing-spaces": "off",
    "semi": "off",
    "linebreak-style": "off",
    "max-len": ["warn", 120]
  },
  "extends": ["eslint:recommended", "google"]
}