$header-height: 32px;
$first-column-width: 40px;
$border-radius: 2px;
$border-color: #BDBDBD;
$cell-width: 96px;
$cell-height: var(--cell-height);
$header-cell-color: #E0E0E0;

$primary: #607D8B;
$primary-darker: #263238;